# ======================================
# Google Gemini
# ======================================
GEMINI_API_KEY=

# ======================================
# Backend Configuration
# ======================================
BASE_DIR=/app

HOST=0.0.0.0
PORT=8000
